<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
  <parameter name="browser" value="chrome"/>
<parameter name="url" value="https://ui-test.creditrepaircloud.com/"/>
<parameter name="notifications" value="--disable-notifications"/>
<parameter name="WindowSize" value="--window-size=1900,1080"/>
<parameter name="email" value="ncs9825@yopmail.com"/>
<!--  Desktop Resolution  -->

<classes>
<class name="scripts.MainTest"/>
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
